<!DOCTYPE html>
<html>

<head>
    <title>success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/Homepage.css">
</head>

    <body>

    <section class="food_intake">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/capture" >Capture Face</a>
            <a href="/logout" >Logout</a>
        </div>
        <p style="text-align:left;font-size:20px;cursor:pointer;margin:15px" onclick="openNav()">&#9776; settings</p>

        <h3 class="username">Hi welcome…!</h3>
         <form method = "post"  id="foodintake">
             <label for="meals">How many meals you take per day?</label><br><br>
                <select name="meals" id="meals">
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                </select>
                <br><br>
             <label for="water">How many glasses of water do you drink?</label><br><br>
             <select name="water" id="water">
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                </select>
         <br><br>
        </form>
        <button class="btn btn-info" id="tryit">Next</button>
        <br><br>
        {% if status %}
            <p class=status><strong>status:</strong> {{ status }}
        {% endif %}
    </section>
    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    <script>
        document.getElementById("tryit").addEventListener("click",myFunction);

        function myFunction(){
        var x = document.getElementById("foodintake").elements[0].value
        var y = document.getElementById("foodintake").elements[1].value


        if (x<=3 && y<=3){
          window.location.href="/light_workout";
        }

        else if (x<=5 && y<=5){
          window.location.href="/medium_workout";
        }

        else{
          window.location.href="/heavy_workout";
        }
        }

    </script>

    </body>
</html>