<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="static/Homepage.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.css" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.1/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.2/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.2/pose.js" crossorigin="anonymous"></script>
</head>
<body>
 <!-- CONTENTS -->
  <div class="container" style="margin-top: 20px;">

      <!-- WEBCAM INPUT -->
      <div style="display:None">
            Webcam Input
          <div class="panel-block">
            <video class="input_video5" ></video>
          </div>
      </div>

      <!-- MEDIAPIPE OUTPUT -->
            <canvas class="output5" width="480px" height="600px"></canvas>


    <div class="loading">
      <div class="spinner"></div>
    </div>
    <div style="visibility: hidden;" class="control5">
  </div>
  </div>


  <script type="text/javascript" src="./js/pose.js"></script>
  <script>
      var counter=0
      var stage
      const video5 = document.getElementsByClassName('input_video5')[0];
      const out5 = document.getElementsByClassName('output5')[0];
      const controlsElement5 = document.getElementsByClassName('control5')[0];
      const canvasCtx5 = out5.getContext('2d');

  const fpsControl = new FPS();

  const spinner = document.querySelector('.loading');
  spinner.ontransitionend = () => {
    spinner.style.display = 'none';
  };

  function zColor(data) {
    const z = clamp(data.from.z + 0.5, 0, 1);
    return `rgba(0, ${255 * z}, ${255 * (1 - z)}, 1)`;
  }

  // finding angle for given 3 points
  function find_angle(A,B,C) {
    var AB = Math.sqrt(Math.pow(B.x-A.x,2)+ Math.pow(B.y-A.y,2));
    var BC = Math.sqrt(Math.pow(B.x-C.x,2)+ Math.pow(B.y-C.y,2));
    var AC = Math.sqrt(Math.pow(C.x-A.x,2)+ Math.pow(C.y-A.y,2));
    var angle=Math.acos((BC*BC+AB*AB-AC*AC)/(2*BC*AB))*180/Math.PI;
    if (angle > 180.0){
        angle = 360 - angle
    }
    return angle
}

  function onResultsPose(results) {
    document.body.classList.add('loaded');
    fpsControl.tick();
    if (results.poseLandmarks!=="undefined"){
    // for displaying "Please go back"
    var left_ankle_visibility = results.poseLandmarks[25].visibility
    var right_ankle_visibility = results.poseLandmarks[26].visibility

    // landmarks for left shoulder,left elbow,left_wrist
    let shoulder=[results.poseLandmarks[11].x*out5.width,results.poseLandmarks[11].y*out5.height]
    let elbow=[results.poseLandmarks[13].x*out5.width,results.poseLandmarks[13].y*out5.height]
    let wrist=[results.poseLandmarks[15].x*out5.width,results.poseLandmarks[15].y*out5.height]
    let a = {x:shoulder[0], y:shoulder[1]}, b = {x:elbow[0], y:elbow[1]}, c = {x:wrist[0], y:wrist[1]}

    // landmarks for left hip,knee,ankle
    let hip=[results.poseLandmarks[23].x*out5.width,results.poseLandmarks[23].y*out5.height]
    let knee=[results.poseLandmarks[25].x*out5.width,results.poseLandmarks[25].y*out5.height]
    let ankle=[results.poseLandmarks[27].x*out5.width,results.poseLandmarks[27].y*out5.height]
    let d = {x:hip[0], y:hip[1]}, e = {x:knee[0], y:knee[1]}, f = {x:ankle[0], y:ankle[1]}


    canvasCtx5.save();
    canvasCtx5.clearRect(0, 0, out5.width, out5.height);
    if((left_ankle_visibility<0.1) || (right_ankle_visibility<0.1)){
       canvasCtx5.fillStyle = "red";
      canvasCtx5.font = "bold 30px Arial";
      canvasCtx5.drawImage(results.image, 0, 0, out5.width, out5.height);
      canvasCtx5.fillText("Please go back",0,50);
    }
    else{
      let elbow_angle=find_angle(a,b,c)
      let shoulder_angle=find_angle(b,a,d)
      let knee_angle=find_angle(d,e,f)
      console.log(elbow_angle)
      if (elbow_angle>160 && knee_angle>160 ) {
        stage = "down";
        console.log(elbow_angle)
      }

      if (elbow_angle<150 && knee_angle>160  && stage === "down") {
        stage = "up";
        counter += 1;
        console.log(counter)
        console.log(elbow_angle)
      }
      if (counter==10){
        video5.srcObject.getTracks().forEach(a => a.stop());
        window.location.href="/thanks"
      }

    canvasCtx5.drawImage(results.image, 0, 0, out5.width, out5.height);
    drawConnectors(
        canvasCtx5, results.poseLandmarks, POSE_CONNECTIONS, {
          color: (data) => {
            const x0 = out5.width * data.from.x;
            const y0 = out5.height * data.from.y;
            const x1 = out5.width * data.to.x;
            const y1 = out5.height * data.to.y;

            const z0 = clamp(data.from.z + 0.5, 0, 1);
            const z1 = clamp(data.to.z + 0.5, 0, 1);

            const gradient = canvasCtx5.createLinearGradient(x0, y0, x1, y1);
            gradient.addColorStop(
                0, `rgba(0, ${255 * z0}, ${255 * (1 - z0)}, 1)`);
            gradient.addColorStop(
                1.0, `rgba(0, ${255 * z1}, ${255 * (1 - z1)}, 1)`);
            return gradient;
          }
        });
    drawLandmarks(
        canvasCtx5,
        Object.values(POSE_LANDMARKS_LEFT)
            .map(index => results.poseLandmarks[index]),
        {color: zColor, fillColor: '#FF0000'});
    drawLandmarks(
        canvasCtx5,
        Object.values(POSE_LANDMARKS_RIGHT)
            .map(index => results.poseLandmarks[index]),
        {color: zColor, fillColor: '#00FF00'});
    drawLandmarks(
        canvasCtx5,
        Object.values(POSE_LANDMARKS_NEUTRAL)
            .map(index => results.poseLandmarks[index]),
        {color: zColor, fillColor: '#000000'});
     canvasCtx5.fillStyle = "blue";
    canvasCtx5.font = "bold 100px Arial";
    canvasCtx5.fillText(counter,0,50);
    canvasCtx5.restore();
    }
   }
  else{
    canvasCtx5.drawImage(results.image, 0, 0, out5.width, out5.height);
   }
  }

  const pose = new Pose({locateFile: (file) => {
    return `https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.2/${file}`;
  }});
  pose.onResults(onResultsPose);

  const camera = new Camera(video5, {
    onFrame: async () => {
      await pose.send({image: video5});
    },
    width: 480,
    height: 600
  });
  camera.start();

  new ControlPanel(controlsElement5, {
        selfieMode: true,
        upperBodyOnly: false,
        smoothLandmarks: true,
        minDetectionConfidence: 0.5,
        minTrackingConfidence: 0.5,
        modelComplexity:1
      })
      .add([
        new StaticText({title: 'MediaPipe Pose'}),
        fpsControl,
        new Toggle({title: 'Selfie Mode', field: 'selfieMode'}),
        new Toggle({title: 'Upper-body Only', field: 'upperBodyOnly'}),
        new Toggle({title: 'Smooth Landmarks', field: 'smoothLandmarks'}),
        new Slider({
          title: 'Min Detection Confidence',
          field: 'minDetectionConfidence',
          range: [0, 1],
          step: 0.01
        }),
        new Slider({
          title: 'Min Tracking Confidence',
          field: 'minTrackingConfidence',
          range: [0, 1],
          step: 0.01
        }),
      ])
      .on(options => {
        video5.classList.toggle('selfie', options.selfieMode);
        pose.setOptions(options);
      });
    </script>
</body>
</html>