<html>
    <head>
    <title>Timer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="keywords" content="Important words">
        <meta name="description" content="short description">
        <meta name="author" content="Aishwarya">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/Homepage.css">
        <link rel="icon" href="/static/Home-images/logo image.jpg">
    </head>
    <body>
    <h1> Thank YOu . Have a nice day </h1>
    <p id ="rest"> </p>
    <a href="/chart1"><button >Graph</button> </a>
    </body>
</html>