<html>
    <head>
    <title>Timer</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="Important words">
        <meta name="description" content="short description">
        <meta name="author" content="ussv">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/Homepage.css">
        <link rel="icon" href="/static/Home-images/logo image.jpg">
    </head>
    <style>
        p {
          text-align: center;
          font-size: 60px;
          margin-top: 0px;
        }
        @media only screen and (max-width: 1000px) {
          #img{
            height:700px;
            width: 360px;

          }
          }

    </style>
    <body>
      <div id="resting">
        <p> Take Rest </p>
        <p id ="rest"> </p>
          <p>{{msg}}</p>

      </div>

      <img id="img"  style="align-items:center; display:None" >

    <script>
    var countDown = {{timer}};
    var counter = `{{counter}}`
    console.log(counter)
    // Update the count down every 1 second
    var x = setInterval(function() {

      document.getElementById("rest").innerHTML = countDown + "s ";
      countDown=countDown-1
      // If the count down is over, write some text
      if (countDown < 0) {
        clearInterval(x);
        // document.getElementById("rest").innerHTML = "Boom Boom"
       $( document ).ready(function() {
           console.log("entered")
           location.replace(counter)
       })
      }
    }, 1000);
    </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
     <script type="text/javascript">

        </script>
    </body>
</html>